<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Arda Oran Kişisel Web Sitesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="~/images/sitesekmelogo.jpg">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="colorlib-page">
        <div class="container-wrap">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
                <div class="text-center">
                    <div class="author-img" style="background-image: url(images/cvfoto.jpeg);"></div>
                    <h1 id="colorlib-logo"><a href="#">Arda Oran</a></h1>
                    <span class="position"><a href="#">Full Stack Developer</a></span>
                </div>
                <nav id="colorlib-main-menu" role="navigation" class="navbar">
                    <div id="navbar" class="collapse">
                        <ul>
                            <li class="active"><a href="#" data-nav-section="home">Ana Sayfa</a></li>
                            <li><a href="#" data-nav-section="about">Hakkımda</a></li>
                            <li><a href="#" data-nav-section="skills">Becerilerim</a></li>
                            <li><a href="#" data-nav-section="education">Eğitim</a></li>
                            <li><a href="#" data-nav-section="experience">İş Deneyimi</a></li>
                            <li><a href="#" data-nav-section="work">Portfolyo</a></li>
                            <li><a href="#" data-nav-section="contact">İletişim</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="colorlib-footer">
                    <p>
                        <small>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright
                            <script>document.write(new Date().getFullYear());</script> All rights reserved. Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </span> <span>Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></span> <span>Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash.com</a></span>
                        </small>
                    </p>
                    <ul>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                    </ul>
                </div>

            </aside>

            <div id="colorlib-main">
                <section id="colorlib-hero" class="js-fullheight" data-section="home">
                    <div class="flexslider js-fullheight">
                        <ul class="slides">
                            <li style="background-image: url(images/ana2.webp);">
                                <div class="overlay"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                            <div class="slider-text-inner js-fullheight">
                                                <div class="desc">
                                                    <h1>Merhaba <br>Ben Arda</h1>
                                                    <h2>Bana ait CV'ye aşağıdaki butondan ulaşabilirsiniz</h2>
                                                    <p><a asp-controller="Home" asp-action="Indir" class="btn btn-primary btn-learn">CV İndir <i class="icon-download4"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="background-image: url(images/ana2.webp);">
                                <div class="overlay"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h1>Jr.Full Stack <br>Developer</h1>
                                                    <h2> </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="colorlib-about" data-section="about">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="col-md-12">
                                        <div class="about-desc">
                                            <span class="heading-meta">Hakkımda</span>
                                            <h2 class="colorlib-heading">Ben kimim?</h2>
                                            <p><strong>Merhaba, Ben Arda Oran !</strong> Genel olarak teknolojiye,makinelere ve bilgisayarlara olan ilgimden dolayı  üniversite eğitimimi Mekatronik Mühendisliği üzerine almayı kararlaştırdım. Bu kararım sonucunda  Kırklareli Üniversitesi Mekatronik Mühendisliği bölümünü kazandım sonrasında 2023 yılının Eylül ayında mezun oldum. Üniversite eğitimim devam ettiği sırada yazılıma her daim çok ilgiliydim.  </p>
                                            <p>Bu ilgiyi kendime mesleki olarak yönlendirdim. Bunun sonucunda İstanbul/Kadıköy'de bulunan Infotech Academy'de 7 Ay süren "Yazılım Uzmanlığı - MCSD" eğitimi aldım. Bu eğitimi, bitirme projesinden "93/100" puan alıp üstün başarı ile tamamladım, bitirme projelerinden 80 puan ve üstü alan adaylara verilen <strong> "Yazılım Uzmanlığı - MCSD Başarı Sertifikası"</strong> almaya hak kazandım. Şu anda ise Jr.Full Stack Developer olarak çalışmaya hazırım ve bu alanda iyi işler başaracağımı düşünüyorum.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>



                <section class="colorlib-services" data-section="services">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Neler Yapabiliyorum ?</span>
                                <h2 class="colorlib-heading">Uzmanlık Alanlarım</h2>
                            </div>
                        </div>
                        <div class="row row-pt-md">
                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-1">
                                    <span class="icon">
                                        <i class="icon-layers2"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>C#</h3>
                                        <p>Üniversitede 1 dönem boyu, Yazılım kursunda ise 7 ay eğitimini aldım.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-2">
                                    <span class="icon">
                                        <i class="icon-layers2"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Front - End</h3>
                                        <p>Front-End tarafında HTML, CSS, JavaScript(jquery dahil), Bootstrap teknolojileri konusunda bilgiye sahibim.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-3">
                                    <span class="icon">
                                        <i class="icon-layers2"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Back- End</h3>
                                        <p>Back-End tarafında ASP.NET CORE ile çalışabilirim. Aynı zamanda Katmanlı Mimari, MVC, OOP, Entity Framework, SOLID Prensipleri vb.kavramların bilgisine iyi bir şekilde sahibim.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-4">
                                    <span class="icon">
                                        <i class="icon-data"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>MSSQL</h3>
                                        <p>Çalışmalarımda genel olarak MSSQL kullandığımdan, bilgisine de sahibim. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-6">
                                    <span class="icon">
                                        <i class="icon-bulb"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>İnovatif Fikirler & Yaratıcılık</h3>
                                        <p>Bulunduğum kuruma maksimum seviyede verim sağlamak benim için elzemdir. Konu yeni ve yaratıcı fikirler olduğunda kuruma birçok yönden katkım olabilir.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center animate-box">
                                <div class="services color-5">
                                    <span class="icon">
                                        <i class="icon-layers2"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Takım Çalışmasına Uyumluluk</h3>
                                        <p>Takım çalışması alanında gayet iyi bir düzeydeyim. Herhangi bir takıma olabildiğince hızlı bir şekilde oryante olabilirim. Aynı zamanda herhangi bir takımı düzgün bir şekilde yönetip, iyi bir takım lideri olabilirim.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <h3 class="ortala">Bugüne Kadar...</h3>
                <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/anasayfaalt.jpg);" data-stellar-background-ratio="0.5">
                    <div class="overlay"></div>
                    <div class="colorlib-narrow-content">
                        <div class="row">
                        </div>
                        <div class="row">

                            <div class="col-md-3 text-center animate-box">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="0" data-speed="2500" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Yıl İş Tecrübesi</span>
                            </div>

                            <div class="col-md-3 text-center animate-box">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="3" data-speed="2500" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Tamamlanan Proje</span>
                            </div>

                            <div class="col-md-3 text-center animate-box">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="0" data-speed="2500" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Firma</span>
                            </div>

                            <div class="col-md-3 text-center animate-box">
                                <span class="colorlib-counter js-counter" data-from="0" data-to="0" data-speed="2500" data-refresh-interval="50"></span>
                                <span class="colorlib-counter-label">Firma</span>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="colorlib-skills" data-section="skills">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Bilgilerim</span>
                                <h2 class="colorlib-heading animate-box">Becerilerim</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <p>Infotech Academy kapsamında aldığım "Yazılım Uzmanlığı -MCSD" eğitiminde C#, HTML, CSS, JavaScript, ASP.NET CORE , ASP.NET CORE MVC, MSSQL, OOP, Entity Framework, WEB API vb. teknolojileri öğrendim ve mezuniyetimden bugüne dek bir çoğunda önemli aşamalar kaydettim.</p>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="progress-wrap">
                                    <h3>C#</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>HTML</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-2" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="progress-wrap">
                                    <h3>CSS</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>JavaScript</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                                             aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="progress-wrap">
                                    <h3>ASP.NET CORE</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-5" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>ASP.NET CORE MVC</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-6" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>MSSQL</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-7" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            <span>70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>OOP</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-8" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>Entity Framework</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-9" role="progressbar" aria-valuenow="95"
                                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="progress-wrap">
                                    <h3>WEB API</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-10" role="progressbar" aria-valuenow="70"
                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            <span>70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="colorlib-education" data-section="education">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Eğitim Süreci</span>
                                <h2 class="colorlib-heading animate-box">Eğitim</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                                <div class="fancy-collapse-panel">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Kırklareli Üniversitesi Mekatronik Mühendisliği
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <p>Eylül 2018 yılında başladığım bölümümden Eylül 2023'te mezun oldum. </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Infotech Academy "Yazılım Uzmanlığı-MCSD"
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <p>Kurs toplamda 7 Ay (5 Ay Eğitim + 2 Ay E-Ticaret Projesi Geliştirme) sürmüştür. Bu kurs içeriğinde C# , HTML, CSS, Bootstrap, JavaScript, ASP.NET CORE MVC, MSSQL , OOP(Object Oriented Programming), WEB API ve Katmanlı Proje Mimarisi ( API, BL , DAL , UI ) detaylı bir şekilde öğretilmiştir.</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Anadolu Üniversitesi(AÖF) Bilgisayar Programcılığı
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <p>Kendi bölümümden mezun olduktan sonra ikinci üniversiteyi okumak amacıyla başladığım bölümdür.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>





                <section class="colorlib-experience" data-section="experience">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Tecrübeler</span>
                                <h2 class="colorlib-heading animate-box">İş Deneyimleri</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="timeline-centered">
                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                        <div class="timeline-entry-inner">

                                            <div class="timeline-icon color-1">
                                                <i class="icon-pen2"></i>
                                            </div>

                                            <div class="timeline-label">
                                                <h2> Yaz Stajyeri  <span>2021</span></h2>
                                                <h4> CETA FORM EL ALETLERİ SANAYİ ve TİCARET A.Ş</h4>
                                                <p>Fabrika içerisinde geliştirilmesi halinde kullanılabilecek, zaman ve üretim açısından büyük kazanç sağlayan 3 Adet  makine tasarımı tamamlandı..</p>
                                            </div>
                                        </div>
                                    </article>


                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-2">
                                                <i class="icon-pen2"></i>
                                            </div>
                                            <div class="timeline-label">
                                                <h2> Uzun Dönem Stajyer - Proje Stajyeri<span>2021</span></h2>
                                                <h4>RASS TECHNOLOGY AR-GE A.Ş</h4>
                                                <p>Şirketin AR-GE projelerinde görev aldım. Görev aldığım projelerde prototip tasarımı ve üretimi , parça tasarımları vb. görevlerde çalıştım.</p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-3">
                                                <i class="icon-pen2"></i>
                                            </div>
                                            <div class="timeline-label">
                                                <h2>Jr.Full Stack Developer  <span>2023</span></h2>
                                                <h4>INFOTECH ACADEMY PROJE GELİŞTİRME BİRİMİ</h4>
                                                <p>Bir E-Ticaret projesi geliştirildi. Proje dört katmanlı mimari üzerine inşa edildi ( API,BL, DAL , UI). Front-End kısmında HTML, CSS, JavaScript, Bootstrap ; Back-End kısmında ise C# yazılım dili ve ASP.NET CORE, Design Pattern olarak MVC (ASP.NET CORE MVC), Database olarak MSSQL kullanıldı..</p>
                                            </div>
                                        </div>
                                    </article>



                                    <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-none">
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="colorlib-work" data-section="work">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">Projeler</span>
                                <h2 class="colorlib-heading animate-box">Portfolyo</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                                <div class="project" style="background-image: url(images/proje1.jpg);">
                                    <div class="desc">
                                        <div class="con">
                                            <h3><a href="https://github.com/ardaoran/BitirmeProjesi-GUNCEL-">Infotech Academy Bitirme Projesi </a></h3>
                                            <span>E-Ticaret</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                                <div class="project" style="background-image: url(images/proje2.jpg);">
                                    <div class="desc">
                                        <div class="con">
                                            <h3><a href="https://github.com/ardaoran/Evim-Real-Estate-Web-Project">"Evim Real Estate" Web Projesi </a></h3>
                                            <span>Özel </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="colorlib-contact" data-section="contact">
                    <div class="colorlib-narrow-content">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                                <span class="heading-meta">İletişim</span>
                                <h2 class="colorlib-heading">Benimle İletişime Geçin !</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <p>ardaoran@hotmail.com</p>
                                    </div>
                                </div>



                                <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                    <div class="colorlib-icon">
                                        <i class="icon-social-linkedin"></i>
                                    </div>
                                    <div class="colorlib-text">
                                        <p><a href="https://www.linkedin.com/in/ardaoran/">Arda Oran</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div><!-- end:colorlib-main -->
        </div><!-- end:container-wrap -->
    </div><!-- end:colorlib-page -->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Counters -->
    <script src="js/jquery.countTo.js"></script>


    <!-- MAIN JS -->
    <script src="js/main.js"></script>

</body>
</html>

